{% extends 'base.html' %}
{% block title %}
	关于我们
{% endblock title %}
{% block html %}
	xmlns:wb="http://open.weibo.com/wb"
{% endblock html %}
{% block head %}
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
{% endblock head %}
{% block aboutClass %}
	active
{% endblock aboutClass %}

{% block header %}
<div class="jumbotron jumbotron-ad hidden-print" style='color:white;'>
  <div class="container">
    <h1><i class="fa fa-hand-o-right"></i>&nbsp; 关于我们</h1>
    <p>介绍Winfly开发团队的信息</p>
  </div>
</div>
{% endblock header %}
{% block content %}
<style>
	.follow_btn{
		width:90px;!important
	}
</style>

<div class='container'>
<div class='row'>
	<div class='col-md-9'>
	<section class="hidden-print">
		<h2 class="page-header">我们是谁</h2>
		<p>
			我们是一个刚刚开始创业的小团队。虽然现在规模很小，但是我们的眼界并不小。我们的目标是推动互联网技术的进一步发展，改善人们的生活。我们是一群喜爱互联网技术的geek。<br>
			想要了解更过关于我们的信息欢迎关注我们的微博和微信。
		</p>
		<h2 class='page-header'>为什么要做Winfly</h2>
		<p>
			下一个互联网发展的热点是什么。我认为是小型服务器。就好像现在很火的各种智能路由一样，这实际上是小型服务器的初级版本。但是现在的各种智能路由是不开放的，也就是应用的开发者没法加入开发，所以不可能做大。更合理的发展的模式应该是像手机一样，采用开放策略，把开发者引入到小型服务器的应用开发中去。但是目前想要发展小型服务器比较困难，因为用户没有这个需求。一般的用户连服务器的概念都没有。所以首先要实现的是让用户有个人服务器的需求，由此便诞生了Winfly的想法。实际上Winfly最初只是我开发出来给自己用手机看电影用的。但是想想应该会有比较大的发展空间，遂将其优化封装了一下做成了本软件。再回到小型服务器的话题，现在的物联网为什么发展缓慢，我认为主要原因是首先用户没有这个需求，你说在回家之前自动放洗澡水等等，这种需求就没有手机这种强烈。其次没有一个总的控制器，没有一个通用的开发平台。也就是缺少一个家用服务器，底层控制应该全部封装起来，比如说获取所有设备信息，开灯，开电视等等。底层程序对服务器程序提供统一接口。让开发者把重心放在应用上。小型服务器就是一个切入点。
			如果你觉得我们的想法不错，欢迎加入Winfly的开发团队。<br>
			总而言之，你可以清楚的看到我们的逻辑。小型服务器是未来的发展热点，但是时机尚未成熟。所以先从服务器应用做起，带动用户需求。<br>
			其实Winfly这个软件并不重要，我认为重要的是一种思路的转换。从传统的公有的大型服务器向小型私有的服务器的转变。充分利用局域网所据有的特点和优势为用户提供更为针对性的服务。

		</p>
	</section>
	</div>
	<div class='col-md-3' style='margin-top:100px;'>
		<a class='btn btn-success' href='http://weibo.com/u/3954460417'><i class='fa fa-weibo'></i>关注我们的微博</a>
	</div>
</div>
</div>
{% endblock content %}