{% extends 'pCloudDocs/base.html' %}
{% block title %}
	社区
{% endblock title %}
{% block communityClass %}
	active
{% endblock communityClass %}

{% block header %}
<div class="jumbotron jumbotron-ad hidden-print" style='color:white;'>
  <div class="container">
    <h1><i class="fa fa-group"></i>&nbsp; 社区</h1>
    <p>pCloud的社区</p>
  </div>
</div>
{% endblock header %}
{% block content %}
<div class='container'>
	<section class="hidden-print">
		<div class="stripe-ad">
			<p class="lead">
				有什么好的想法，对pCloud有什么意见都欢迎在<a href='http://www.shareyan.cn/items/62/pCloud%E7%A4%BE%E5%8C%BA'>这里</a>提出来。
			</p>
		</div>
	</section>
</div>
{% endblock content %}
