{% extends 'base.html' %}
{% block title %}
	winfly
{% endblock title %}
{% block homeClass %}
	active
{% endblock homeClass %}

{% block header %}
<!--<div class="jumbotron jumbotron-ad hidden-print">
  <div class="container" style='color:white;'>
    <h1><i class='fa fa-rocket'></i>Winfly</h1>
    <p>方便快速的共享你的文件 —— Winfly</p>
	<a class="btn btn-lg btn-primary btn-shadow bs3-link" href="http://pan.baidu.com/s/1gd1dh5L" target="_blank" role="button"><i class='fa fa-download'></i> Winfly 1.0.2a 下载</a>
  </div>
</div>-->
{% endblock header %}
{% block content %}
	<style>
		.feature>.col-md-4{
			margin-bottom:22px;
		}
		.home-header{
			display: block;
			text-align: center;
			font-size: 50px;
			margin: 30px;
		}
		.download-btn{
			
		}
		.stripe-ad{
			text-align:center;
		}
	</style>
	<div class="stripe-ad">
		<span class='home-header'>winfly 快速共享你的文件</span>
		<a class="btn btn-lg btn-primary download-btn" href="http://pan.baidu.com/s/1gd1dh5L" target="_blank" role="button"><i class='fa fa-download'></i> Winfly下载</a>
		<div class='doc-img'>
			<img class='img-thumbnail' src='/static/img/docs/crossPlatform.jpg'>
			<span>设置共享文件夹</span>
		</div>
	</div>
	<div class='container'>
		<section class="hidden-print">
			
		</section>
		<section>
		<h3 class='page-header'>Winfly的特点</h3>
		<div class='row feature'>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-share'></i> 共享文件</h4>
				<span>通过网页直接共享文件。通过权限设置你可以方便的给别人共享自己的资源</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-male'></i> 人性化设计</h4>
				<span>躺在床上看电影，不想再爬去关机怎么办。直接在网页上就能进行关机操作</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-thumb-tack'></i> 动态ip</h4>
				<span>无论你的ip怎么变化只要访问注册的地址就可以访问到你的电脑</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-mobile'></i> 移动设备优化</h4>
				<span>本软件特别针对手机等移动设备进行优化，比较适合手机访问。视频文件可以直接在线播放。</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-rocket'></i> ipv6全力支持</h4>
				<span>只要你的电脑支持ipv6，那么你就可以充分享受到ipv6带来的便利</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-location-arrow'></i> 域名跳转</h4>
				<span>在申请到的地址后所加的参数都会在跳转时保留，方便你实现更高级的功能</span>
			</div>
		</div>
		</section>
	</div>
{% endblock content %}