{% extends 'pCloudDocs/base.html' %}
{% block title %}
	用户手册
{% endblock title %}

{% block manualClass %}
	active
{% endblock manualClass %}

{% block body %}
data-spy="scroll" data-target=".bs-sidebar"
{% endblock body %}

{% block header %}
<div class="jumbotron jumbotron-ad hidden-print" style='color:white;'>
  <div class="container">
    <h1><i class="fa fa-book"></i>&nbsp; 用户手册</h1>
    <p>详细介绍pCloud的具体功能，想要更多的了解pCloud那就开始吧。</p>
  </div>
</div>
{% endblock header %}
{% block content %}
<style>
.bs-sidenav {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;
	border-radius: 5px;
}

.bs-sidenav>li>a{
	color:gray;
}

li>.nav>li>a{
	font-size:small;
	color:gray;
	padding-left:40px;
}

li>.nav{
	display:none;
}

li.active>.nav{
	display:block;
}

.doc-img{
	display:table;
	text-align:center;
}

.doc-img>img{
	display:block;
	margin:20px 0px 5px;
}
.doc-img>span{
	display:block;
	width: 100%;
	text-align: center;
	font-size: small;
	color: gray;
	padding: 0px 0px 10px;
}

ul.doc{
	margin: 10px 0px 10px 20px;
}

/*
.bs-sidebar.affix {
	position: static;
}

@media(min-width: 1200px){
	.bs-sidebar.affix-bottom, .bs-sidebar.affix {
		width: 263px;
	}
}

@media(min-width: 992px){
	.bs-sidebar.affix {
		position: fixed;
		top: 80px;
	}
	.bs-sidebar.affix, .bs-sidebar.affix-bottom {
		width: 213px;
	}
}
*/

.affix-top{
	position:static;
}

.affix{
	position:static;
}

@media(min-width: 992px){
	.affix-top{
		position:static;
	}
	
	.affix{
		position:fixed;
		top:80px;
		width: 213px;
	}
}
</style>
<div class='container'>
	<div class="row">
		<div class="col-md-3">
			<div class="bs-sidebar hidden-print" data-spy="affix" data-offset-top="200" role="complementary">
				<ul class="nav bs-sidenav">
					<li class="active">
						<a href="#overview">概览</a>
					</li>
					<li>
						<a href="#access" >访问方式</a>
						<ul class="nav ">
							<li><a href="#access-ip">通过ip直接访问</a></li>
							<li><a href='#access-address'>通过地址访问</a></li>
							<li><a href='#access-ipv6'>ipv6和动态ip</a></li>
						</ul>
					</li>
					<li>
						<a href="#files" >文件操作</a>
						<ul class="nav " >
							<li><a href="#files-access">访问共享文件</a></li>
							<li><a href='#files-setFolder'>设置共享文件夹</a></li>
							<li><a href='#files-delete'>删除文件</a></li>
						</ul>
					</li>
					<li>
						<a href="#user">用户管理</a>
						<ul class="nav">
							<li><a href="#user-reg">用户注册</a></li>
							<li><a href='#user-changepassword'>修改密码</a></li>
							<li><a href='#user-permission'>权限控制</a></li>
							<li><a href='#user-superuser'>超级管理员</a></li>
						</ul>
					</li>
					<li>
						<a href="#computer" >电脑控制</a>
						<ul class="nav" >
							<li><a href="#computer-halt">关机</a></li>
						</ul>
					</li>
					<li>
						<a href="#advanced">高级使用</a>
						<ul class="nav">
							<li><a href="#advanced-url">url参数传递</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9" role="main">
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="overview">概览</h1>
				</div>
				<p class="lead">更加深入的了解pCloud的使用，让pCloud更好的为您服务。</p>
			</div>
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="access">访问方式</h1>
				</div>
				<p class="lead">你可以通过不同的方式访问本软件。各种方式各有优劣，你可以根据自己的具体情况决定采用哪种方式连接</p>
				<h3 id="access-ip">通过ip直接访问</h3>
				<p>当程序成功启动后会出现如下画面，在浏览器中直接输入提示输入的ip就可以访问本软件了。
				<div class='doc-img'>
					<img src='/static/img/docs/access-ip.PNG' class='img-thumbnail'>
					<span>通过ip直接访问</span>
				</div>
				这种方法可以在无法连接互联网的情况下继续使用。但是想要访问软件就必须要知道服务器电脑的ip地址。</p>
				<h3 id="access-address">通过地址访问</h3>
				<p>在注册管理员后你会获得一个唯一的地址，在浏览器输入这个地址就可以直接访问你的电脑了。地址显示在页面的最下方。
				<div class='doc-img'>
					<img src='/static/img/docs/access-addr.png' class='img-thumbnail'>
					<span>通过地址访问</span>
				</div>
				这个方法只能在有网络连接的情况下使用。但是你可以在不知道服务器电脑ip的情况下访问电脑。非常适合动态ip的网络。</p>
				<h3 id="access-ipv6">ipv6和动态ip</h3>
				<p>如果你的服务器电脑有ipv6的网络环境，那么你就可以通过ipv6来访问你的电脑。在浏览器输入你注册管理员后获得的地址。如果有ipv6的记录则会显示如下画面。
				<div class='doc-img'>
					<img class='img-thumbnail' src='/static/img/docs/access-ipv6-1.png'>
					<span>通过ipv6访问</span>
				</div>	ipv4和ipv6分别对应着采用对应的方式连接服务器。如果你想要用ipv6连接你的服务器，那么就点击ipv6。采用ipv6连接的好处是
				<ul class='doc'><li>1.速度一般情况下会比ipv4更快些。</li><li>2.能够穿过NAT转化和路由器。</li></ul>如果你要穿过路由器访问内部网络，那么ipv6是一个很好的选择。缺点就是现在只有教育网支持ipv6。</p>
			</div>
			
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="files">文件操作</h1>
				</div>
				<p class="lead">pCloud为您提供了基本的文件操作，你可以通过pCloud查看，删除，修改你的文件。</p>
				<h3 id="files-access">访问共享文件夹</h3>
				<p>当你成功访问网站之后，如果你有访问文件的权限你就可以看到你共享的文件了。
					<div class='doc-img'>
						<img src='/static/img/docs/files-access-1.png' class='img-thumbnail'>
						<span>访问共享文件</span>
					</div>
					最左侧图标显示为<i class='fa fa-folder-o'></i>的条目对应的是文件夹。点击对应条目就可以看到文件夹的内容了。这时最上方导航条的路径也会随着变化，点击相应的路径就可以在不同的目录中跳转。
					<div class='doc-img'>
						<img class='img-thumbnail' src='/static/img/docs/files-access-2.png'>
						<span>点击文件夹后显示文件夹内容</span>
					</div>
					如果遇到权限问题无法访问共享文件，请转到权限控制部分，查看相关说明。
				</p>
				<h3 id="files-setFolder">设置共享文件夹</h3>
				<h4>添加共享文件夹</h4>
				<p>成功登陆后点击右上角的设置，在弹出的菜单中选择设置共享文件夹。
				<div class='doc-img'>
					<img class='img-thumbnail' src='/static/img/docs/files-setFolder-1.png'>
					<span>设置共享文件夹</span>
				</div>
				如果在菜单中没有设置共享文件夹的选项。那么说明你没有设置文件夹的权限。关于权限的具体信息请参阅手册的权限部分。
				<div class='doc-img'>
					<img class='img-thumbnail' src='/static/img/docs/files-setFolder-2.png'>
					<span>设置共享文件夹</span>
				</div>如上图所示，上面的面板内显示的是已经添加的共享文件夹，最下面的面板显示的是电脑中的文件。和访问文件的方式一样，点击文件夹后会显示文件夹内的内容。这时面板的标题内容会随着当前的文件位置改变。当文件位置是你想要共享的文件夹时，点击右侧的添加按钮即可添加。<br>
				注意:目前只支持文件夹的共享。<br>
				设置完成之后点击左上角的小房子图标就可以跳转到主页，访问你共享的文件了。
				</p>
				<h4>取消共享</h4>
				<p>成功添加共享文件夹之后会会在最上方的面板中显示已经添加的文件夹路径。这时最右侧会有删除选项。点击删除选项就可以取消对应文件夹的共享。
				</p>
				<h3 id="files-delete">删除文件</h3>
				<p>
				想要删除文件首先需要你有删除文件的权限。具体内容请参阅手册的权限部分。点击右上角的设置按钮，在弹出的菜单中选择删除文件，这时在文件名之后会出现红色的叉号。点击你要删除的文件的叉号会弹出文件删除的确认窗口。想要继续删除点击确认按钮即可。
			<div class='doc-img'>
				<img class='img-thumbnail' src='/static/img/docs/files-delete.png'>
				<span>点击文件对应的红叉，确认后即可删除</span>
			</div>					   			注意:由于文件删除属于比较危险的操作。所以被pCloud删除的文件并没有直接从硬盘上删除，而是被移到了回收站。如果想要恢复被删除的文件，请到回收站进行还原操作。
				</p>
			</div>
			
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="user">用户管理</h1>
				</div>
				<p class="lead">pCloud为您提供了基本的用户管理功能，通过设置用户的权限你可以方便的让你的好友来访问你共享的文件。</p>
				<h3 id="user-reg">用户注册</h3>
				<p>
					在登录的情况下导航栏的右上角会显示登录注册选项，点击之后就能跳转到注册页面。如果你已经登录，请先注销后再跳转到主页进行相关操作。
					<div class='doc-img'>
						<img class='img-thumbnail' src='/static/img/docs/user-reg.png'>
						<span>注册页面</span>
					</div>
					输入相关信息之后点击注册就完成注册了。注册完成的用户默认是没有任何权限的，所以你仍然无法访问共享文件。想要进行相关操作请向管理员申请相应的权限。
				</p>
				<h3 id="user-changepassword">修改密码 </h3>
				<p>在登录后点击右侧的设置按钮，在弹出的菜单中选择修改密码就可以跳转到修改密码页面。</p>
				<h3 id="user-permission">权限管理</h3>
				<p>只有管理员才能进行权限管理。管理员登陆后，点击再右上角的设置按钮。在弹出的菜单中选择用户管理，即可跳转到用户管理页面。
					<div class='doc-img'>
						<img class='img-thumbnail' src='/static/img/docs/user-permission-1.png'>
						<span>用户权限控制页面</span>
					</div>
					这个页面列出了所有的注册用户和用户所具有的权限。想要修改某个用户的权限，只要点击对应的权限即可。如果权限状态由红叉变成了绿色的对号则表明权限更改成功。
					<div class='doc-img'>
						<img class='img-thumbnail' src='/static/img/docs/user-permission-2.png'>
						<span>修改成功后权限状态会从红叉变成绿色的对号</span>
					</div>
					
					注意：错误的权限设置可能会让hacker有入侵的机会，请不要给其他用户过高的权限。
				</p>
				<h3 id="user-superuser">超级管理员</h3>
				<h4>管理员注册</h4>
				<p>在第一次访问本软件的时候，你会被要求注册一个管理员账号。第一次注册管理员时，电脑必须要连接网络。因为注册时要从服务器申请一个地址用来以后访问你的电脑。注册方法和普通的用户注册一样。注册完成登录之后就可以以管理员的身份控制你的电脑了。
				</p>
				<h4>重置管理员密码和删除管理员</h4>
				<p>
					如果忘记管理员密码就需要对密码进行重置。重置的方法很简单。在程序代码的文件夹中，点击ResetSuperUser.py。根据提示输入2后回车即可重置管理员密码。
					<div class='doc-img'>
						<img class='img-thumbnail' src='/static/img/docs/user-superuser-1.png'>
						<span>输入2回车后重置管理员密码</span>
					</div>
					密码重置完成之后，程序会提示密码已经重置为admin。密码重置后请尽快登录pCloud修改密码。<br>
					如果想要换一个管理员账号，那么就需要把以前的管理员账号删除。方法也很简单。在程序的代码文件中，点击ResetSuperUser.py。根据提示输入1后回车。这时程序会提示管理员已经删除。这时再次访问pCloud就可重新注册管理员了。<br>
					删除管理员后请尽快访问pCloud，重新注册管理员。再没有管理员的情况下，程序默认第一个注册用户为管理员。
				</p>
			</div>
			
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="computer">电脑控制</h1>
				</div>
				<p class="lead">pCloud不仅提供了访问文件的支持。同时添加了一些简单的电脑控制程序，方便你对私有云的状态进行控制。</p>
				<h3 id="computer-halt">关机</h3>
				<p>关机是只有管理员才能进行的操作。在登录管理员之后，点击右上角设置按钮。在弹出的菜单中点击关机选项。接着在弹出的确认窗口中点击确认，即可关机。
					<div class='doc-img'>
						<img class='img-thumbnail' src='/static/img/docs/computer-halt.png'>
						<span>点击确认按钮即可关机</span>
					</div>
				</p>
			</div>
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="advanced">高级使用</h1>
				</div>
				<p class="lead">pCloud还包含了更高级的功能，让你的私有云更加强大。</p>
				<h3 id="advanced-url">url参数传递</h3>
				<p>在你申请到的地址中，所有的url参数都会在跳转中保留下来。你可以利用这个实现很多有趣的功能。比如说你的ip是192.168.18.22,你申请到的地址是shareyan.cn/cloud/userA,链接192.168.18.22/movie.mp4 对应着你电脑上的一个电影。那么你就可以通过shareyan.cn/cloud/userA/movie.mp4 来访问这个文件。这个功能非常适合动态ip的服务器的文件共享。当然不仅如此，保留url参数就意味着get方法也是可以用的。你可以用这个来实现很多丰富的功能。
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
