{% extends 'pCloudDocs/base.html' %}
{% block title %}
	新功能
{% endblock title %}

{% block whatsNewClass %}
	active
{% endblock whatsNewClass %}

{% block header %}
<div class="jumbotron jumbotron-ad hidden-print" style='color:white;'>
  <div class="container">
    <h1><i class="fa fa-lightbulb-o"></i>&nbsp; 新功能</h1>
    <p>最新版本添加了哪些新的功能？ —— pCloud 1.0.2a</p>
  </div>
</div>
{% endblock header %}

{% block content %}
	<style>
		.feature>.col-md-4{
			margin-bottom:22px;
		}
	</style>
	<div class='container'>
		<section class="hidden-print">
			<div class="stripe-ad">
				<p class="lead">
					pCloud是一个在不断发展的软件，我们不断地向软件中添加新的功能。如果你有什么新的想法欢迎在<a href='/community'>社区</a>中提出。
					<br>
					那么 pCloud 1.0.1a有哪些新的功能呢？
				</p>
			</div>
		</section>
		<div class='row feature'>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-book'></i>添加用户文档</h4>
				<span>对于软件功能有什么疑问，快去查看用户文档吧。用户文档让pCloud更好的问您服务。</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-male'></i> 中文路径</h4>
				<span>中文路径不再出现乱码，程序运行更稳定。</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-thumb-tack'></i>网络优化</h4>
				<span>优化了更新ip时的网络连接方式。连接服务器更迅速。</span>
			</div>
			<div class='col-md-4 col-sm-6'>
				<h4><i class='fa fa-mobile'></i> 移动设备优化</h4>
				<span>再次进行针对移动设备的优化，解决文件名显示不完全的问题</span>
			</div>
		</div>
	</div>
{% endblock content %}